@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400&display=swap');

* {
  margin: 0%;
  box-sizing: border-box;
}

html {
  font-family: 'Poppins', sans-serif;
  font-size: 62.5%;
}

body {
  min-height: 100vh;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: rgb(161, 100, 223);
}

.buttons {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 80%;
}

.btn {
  min-width: 200px;
  margin: 16px;
  padding: 24px 48px;
  background-color: rebeccapurple;
  color: #fff;
  border-radius: 5px;
  font-size: 1.8rem;
  cursor: pointer;
}

.btn:hover {
  opacity: 0.9;
}

.btn:focus {
  outline: none;
}